# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')

In [6]:
cars1.head()
# cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [8]:
cars1 = cars1.loc[:, 'mpg':'car']

### Step 5. What is the number of observations in each dataset?

In [11]:
cars1.shape
cars2.shape

(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [12]:
cars = cars1.append(cars2)

In [15]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [23]:
import numpy as np
ser = np.random.randint(15000, 73000, 398)
ser

array([30364, 65344, 66858, 35511, 62011, 67257, 68575, 45046, 36015,
       27752, 27010, 70782, 39408, 18091, 37869, 65325, 42338, 19935,
       30535, 59955, 40886, 55602, 40973, 59623, 56446, 53968, 22162,
       24674, 31235, 51825, 34780, 29613, 67707, 61442, 47171, 45310,
       24027, 44317, 28140, 63032, 48632, 34896, 56461, 33810, 29865,
       66087, 36082, 30152, 25053, 72473, 59804, 43540, 38253, 61431,
       23934, 25149, 65344, 22035, 67962, 50914, 66540, 31417, 51191,
       70950, 24601, 40367, 35893, 26206, 20176, 44692, 70416, 71196,
       37546, 34048, 55497, 26604, 32807, 42060, 43880, 68441, 35728,
       51081, 20197, 62419, 70047, 65819, 25528, 33840, 47894, 48380,
       38947, 57041, 58979, 47038, 71146, 40718, 56337, 15532, 24225,
       40270, 62818, 53534, 23834, 55544, 57658, 24955, 60422, 72066,
       69994, 55202, 50661, 22906, 58900, 37940, 55211, 60916, 54359,
       46819, 40456, 45573, 15752, 57965, 63760, 59979, 45589, 21305,
       38317, 32488, 31970, 69005, 38206, 36111, 63065, 37409, 19457,
       46055, 19881, 40528, 58154, 53580, 67041, 29398, 69399, 51361,
       49060, 60773, 33213, 59991, 41357, 60333, 44454, 64792, 33869,
       20116, 53951, 45505, 64610, 68464, 38013, 47219, 38702, 31423,
       15277, 44635, 19074, 26210, 70735, 24965, 29602, 25514, 55581,
       42454, 52455, 50493, 59101, 36520, 26787, 65155, 16220, 17878,
       51445, 16425, 20490, 34170, 71869, 60482, 35694, 66734, 34434,
       33699, 61253, 56670, 28233, 69067, 29647, 69267, 64039, 28673,
       72330, 17471, 70397, 40167, 50177, 45186, 40227, 58186, 53368,
       32390, 17191, 21762, 60436, 19527, 59920, 22431, 63237, 51067,
       39785, 45969, 66593, 28706, 71639, 70032, 20286, 38053, 30541,
       25807, 19338, 50195, 26040, 64846, 35344, 45386, 55895, 70028,
       61881, 30471, 61799, 59958, 21045, 64199, 27540, 36308, 45032,
       67557, 45007, 56899, 55520, 62019, 53313, 45786, 47069, 72748,
       50062, 24017, 63966, 62482, 61364, 45260, 22291, 66256, 42048,
       21275, 55604, 26763, 55831, 26663, 26730, 29682, 64652, 57704,
       64235, 18054, 68088, 15900, 42908, 59177, 19129, 71283, 41152,
       42396, 46020, 42418, 32591, 50100, 45594, 17769, 71713, 30135,
       16047, 54640, 50753, 51726, 67741, 67532, 30021, 55385, 27586,
       58129, 18382, 53929, 38811, 33284, 38478, 43172, 51700, 55398,
       22302, 35511, 68821, 67698, 37354, 58119, 33923, 30729, 20577,
       27991, 23237, 31996, 22719, 60228, 63166, 15901, 28604, 19367,
       51642, 20626, 72381, 41426, 48693, 49347, 18868, 66743, 16026,
       72716, 58835, 51288, 31118, 64238, 36487, 52837, 24959, 21075,
       32599, 60550, 38903, 18991, 43301, 69263, 64344, 62502, 70062,
       38253, 20981, 64980, 39607, 36423, 72945, 66801, 44900, 21672,
       24158, 60522, 66029, 20765, 25540, 62476, 59797, 29814, 47256,
       29685, 22298, 24399, 67019, 47684, 41635, 15664, 61605, 60888,
       35200, 17211, 63379, 51494, 37582, 65047, 68086, 53071, 70077,
       22072, 29124, 68054, 20837, 45977, 17573, 61710, 28586, 52483,
       31320, 61626])

### Step 8. Add the column owners to cars

In [25]:
cars['owners'] = ser
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,30364
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,65344
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,66858
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,35511
4,17.0,8,302,140,3449,10.5,70,1,ford torino,62011
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500,67257
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala,68575
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii,45046
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina,36015
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl,27752
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se,27010
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340,70782
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo,39408
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw),18091
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii,37869
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster,65325
16,18.0,6,199,97,2774,15.5,70,1,amc hornet,42338
17,21.0,6,200,85,2587,16.0,70,1,ford maverick,19935
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510,30535
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan,59955
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504,40886
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls,55602
22,25.0,4,104,95,2375,17.5,70,2,saab 99e,40973
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002,59623
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin,56446
25,10.0,8,360,215,4615,14.0,70,1,ford f250,53968
26,10.0,8,307,200,4376,15.0,70,1,chevy c20,22162
27,11.0,8,318,210,4382,13.5,70,1,dodge d200,24674
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d,31235
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510,51825
...,...,...,...,...,...,...,...,...,...,...
170,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon,47256
171,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door,29685
172,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback,22298
173,29.0,4,135,84,2525,16.0,82,1,dodge aries se,24399
174,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix,67019
175,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura,47684
176,23.0,4,151,?,3035,20.5,82,1,amc concord dl,41635
177,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l,15664
178,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l,61605
179,31.0,4,91,68,1970,17.6,82,3,mazda glc custom,60888
180,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser,35200
181,36.0,4,98,70,2125,17.3,82,1,mercury lynx l,17211
182,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe,63379
183,36.0,4,107,75,2205,14.5,82,3,honda accord,51494
184,34.0,4,108,70,2245,16.9,82,3,toyota corolla,37582
185,38.0,4,91,67,1965,15.0,82,3,honda civic,65047
186,32.0,4,91,67,1965,15.7,82,3,honda civic (auto),68086
187,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx,53071
188,25.0,6,181,110,2945,16.4,82,1,buick century limited,70077
189,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel),22072
190,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion,29124
191,22.0,6,232,112,2835,14.7,82,1,ford granada l,68054
192,32.0,4,144,96,2665,13.9,82,3,toyota celica gt,20837
193,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2,45977
194,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro,17573
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,61710
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,28586
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,52483
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,31320
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,61626