# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [4]:
import numpy
import seaborn
import pandas as pd
import matplotlib

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [5]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [9]:
print(chipo.shape[0])
print(chipo.shape[1])

4622
5

In [11]:
# Solution 2
print(chipo.info())
print(chipo.head())
print(chipo.test())
test message
test message2
test message3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

### Step 6. What is the number of columns in the dataset?

In [2]:
chipo.shape[1]

NameError: name 'chipo' is not defined

### Step 7. Print the name of all the columns.

In [14]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [15]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [28]:
c=chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False).head(1)
'''c=c.sum()
c=c.sort_values(['quantity'], ascending=False)
c.head()
'''
print(c)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [33]:
c['Chicken Bowl']['quantity']

KeyError: 'Chicken Bowl'

### Step 11. What was the most ordered item in the choice_description column?

In [35]:
c=chipo.groupby('choice_description').sum().sort_values('quantity',ascending=False)
c.head()

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42

### Step 12. How many items were orderd in total?

In [44]:
chipo[:]['quantity'].sum()
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [51]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [54]:
x = lambda a:float(a[1:-1])
chipo.item_price=chipo.item_price.apply(x)

#### Step 13.c. Check the item price type

In [55]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [61]:
chipo.head()
mul = lambda x,y:x*y
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print(revenue)

39237.02

### Step 15. How many orders were made in the period?

In [63]:
chipo.order_id.max()

1834

### Step 16. What is the average revenue amount per order?

In [70]:
# Solution 1
c=chipo.groupby('order_id').sum().item_price.mean()
c
chipo['revenue']=chipo['quantity']*chipo['item_price']
grouped = chipo.groupby('order_id').sum()
grouped.revenue.mean()

21.39423118865867

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [74]:
chipo['item_name'].value_counts().count()

50